/* Home */

.services-card {
  box-shadow: -4px 4px 10px 0px rgba(0,0,0,0.05);
}

#clients {
  padding-top: 0 !important;
}

/* General */

.footer-list {
  list-style: none;
  padding-left: 0;
}

input[type=text].active-cyan:focus {
  border: 1px solid #4dd0e1;
  box-shadow: 0 0 0 1px #4dd0e1;
}

input[type=text].active-green:focus {
  border: 1px solid #76b852;
  box-shadow: 0 0 0 1px #76b852;
}

.space-below {
  margin-bottom: 30px;
}

.space-above {
  margin-top: 30px;
}

.space-above-big {
  margin-top: 60px;
}

ul.social-buttons {
  margin-bottom: 8px;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-weight: 600;
}

.footer ul.quicklinks {
  font-weight: 600;
  line-height: 30px;
}

.footer {
  box-shadow: 0px -4px 10px 0px rgba(0,0,0,0.05);
}

.section-clients .img-fluid.d-block.mx-auto {
  width: 200px;
  height: auto;
}

.portfolio-item .img-fluid {
  height: 250px;
  width: 350px;
  object-fit: contain;
  /* object-fit: cover; */
}

/* Category */
/*
#portfolio .portfolio-item {
  box-shadow: -4px 4px 10px 0px rgba(0,0,0,0.05);
}

#portfolio .portfolio-item .portfolio-caption {
  max-height: 160px;
  height: 100%;
}

#portfolio .portfolio-item .portfolio-link {
  max-height: 250px;
  height: 100%;
} */

@media only screen and (max-width: 500px) {
  /* Home */

  #clients .col-sm-6 {
    margin-bottom: 15px;
  }

  .services-card {
    box-shadow: none;
  }
}

*[href*="000webhost"],
*[src*="000webhost"],
*[title*="000webhost"],
*[alt*="000webhost"] {
  display: none;
}
